/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap; // make sure it wraps
}

.tabs label {
  order: 1; // Put the labels first
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #90CAF9;
  font-weight: bold;
  transition: background ease 0.2s;
}

.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked+label {
  background: #fff;
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
}

@media (max-width: 45em) {

  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/* Search boxes - flexbox */
.search-form {
  display: flex;
  flex-wrap: wrap;
}

.select-box {
  box-sizing: border-box;
  flex: 0 0 auto;
  font-size: 1em;
  margin-right: 5px
}

.search-box {
  box-sizing: border-box;
  width: 90%;
  flex: 2 0 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  font-size: 1.1em;
  text-decoration: none;
  line-height: normal;
  min-height: 50px;
}

.search-btn {
  box-sizing: border-box;
  flex: 0 0 90px;
  background: #21314d;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.35em 0.75em;
  border: none;
  font-size: 1.1em;
  text-decoration: none;
  cursor: pointer;
  min-height: 50px;
}

.search-links {
  margin-top: 20px;
  text-align: center;
}

.search-links a {
  color: #000000;
}

/* Media queries for search forms */
@media all and (max-width: 577px) {
  .select-box {
    flex: 1 0 200px;
    margin-right: 0;
  }
}

@media all and (min-width: 460px) {
  .search-btn {
    margin-left: 5px;
  }
}

@media all and (max-width: 449px) {
  .search-btn {
    margin-top: 10px;
  }

  .select-box {
    margin-bottom: 5px;
  }
}